<!doctype html>
<title>{% block title %}{% endblock %} | board</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class=box>
  <nav class="navbar navbar-light">
    <h1 class="text-center" ><a href="/">Advertisement board</a></h1>
  </nav>
    <main role="main" class="container">
        <div class="my-3 p-3 bg-white rounded box-shadow">
          {% block body %}{% endblock %}
        </div>
    </main>
</div>